<!DOCTYPE html>
<html lang="ko" xmlns:th="http: //www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:replace="~{fragments/gohome:: goToHome }"></div>
    <fieldset>
      <legend>Request Param 사용</legend>
      <form action="/GET_querystring">
        <input type="text" name="inName" placeholder="이름" /><br />
        <input type="number" name="inAge" placeholder="나이" /><br />
        <input id="male" type="radio" name="inGen" value="male" />
        <label for="male">남성:</label>
        <input id="female" type="radio" name="inGen" value="female" checked/>
        <label for="female">여성:</label><br />
        <select name="want" id="">
            <option value="java">Java
            <option value="python">Python
            <option value="htmlcss">Html,CSS
            <option value="js">Javascript
        </select>
        <input id="ck" type="checkbox" name="allow" />
        <label for="ck">동의</label><br />
        </option>
        <hr />
        <button type="submit">전송</button>
      </form>

      <ol th:if="${content[0]} !='이름:null'">
        <li th:text="${content}"></li>
      </ol>
      
    </fieldset>
     <div th:replace="~{fragments/footer:: myFooter}"></div>
  </body>
</html>
