<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,td{
            background-color: aquamarine;
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:replace="~{fragments/gohome:: goToHome }"></div>
    <h1> 타임리프 each 기능</h1>
    <table>

       
        <tr th:each=" num , stat : ${numbers}">
            <td>list데이터(stat.index)<div th:text="${stat.index}"></div></td>
            <td>list데이터(stat.count)<div th:text="${stat.count}"></div></td>
            <td>list데이터의 값<div th:text="${num}"></div></td>
        </tr>
        
    </table>
    <div th:replace="~{fragments/footer:: myFooter }">나의 푸터</div>
</body>
</html>